
<div class="card" style="width: 18rem;">
  <%= image_tag(blog.picture_url, class:"card-img-top") if blog.picture.present? %>
  <div class="card-body">
    <h5 class="card-title"><%= blog.title %></h5>
    <p class="card-text"><%= blog.body %></p>
    <%= link_to "Show this blog", blog %>
  </div>
</div>